.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blood-bath {
  color: rgb(255, 0, 0);
  width: 100vw;
  height: 15vw;
  margin: 0;
  font-size: 55px;
  text-align: center;
  padding-top: 70px;
  background-image: url("./images/bloodbg.jpg");
  background-size: cover;
  background-position: top;
  font-family: 'Permanent Marker', cursive;   
  text-decoration: none!important
}


.fighters-container {
  display: flex;
  justify-content: space-around;
  color: rgba(209, 198, 198, 0.877);
  
}

.lycan-container div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

.df-container div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}


.lycan-container, div, img {
  height: 7vw;
  
}

.df-container, div, img {
  height: 7vw
}

.lycan-container, div, h3 {
  text-decoration: none!important;  
}

.rounds {
  color: rgba(209, 198, 198, 0.877);
  height: 100vh
}

.rounds h1 {
  font-family: 'Permanent Marker', cursive;  
  font-size: 30px;
}

.round-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.round-container div img {
  height: 25vw
}

.round-lycanCard, .round-dfCard {
  height: 70vh;
  width: 30vw;
  padding: 5px;
}